@use 'variables';

.restaurant-list {
    margin-top: 10px;
    padding: 2rem;
    color: variables.$dracula-foreground;
    text-align: center;

    h2 {
        margin-bottom: 2.2rem;
        font-size: 2rem;
        text-align: center;

        @media(max-width: 768px) {
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .carousel-wrapper {
        overflow: hidden;
        width: 100%;
        max-width: 900px;

        @media (max-width: 768px) {
            overflow: visible;
        }
    }

    .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        transition: transform 0.5s ease;

        @media (max-width: 768px) {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            justify-content: space-between;
            gap: 1rem;
        }
    }

    .carousel-button {
        background-color: variables.$dracula-purple;
        color: variables.$dracula-foreground;
        font-weight: 600;
        cursor: pointer;
        padding: 1rem 1rem;
        border-radius: 5px;
        border: none;
        transition: color 0.3s;
        margin-inline-end: 10px;
        margin-inline-start: 10px;

        &:hover {
            color: variables.$dracula-purple;
            background-color: variables.$dracula-current-line;
        }
    }

    .restaurant-card {
        background-color: variables.$dracula-bg;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: left;
        position: relative;
        width: 100%;
        max-width: 280px;
        display: flex;
        flex-direction: column;
        height: auto;

        @media (max-width: 768px) {
            width: 90%;
            max-width: none;
            margin: 0 auto 1rem;
            min-height: auto;
        }

        .favorite-icon {
            width: 44px;
            height: 44px;
            position: absolute;
            bottom: -6px;
            right: 10px;
            /* Latar belakang transparan */
            border-radius: 50%;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            cursor: pointer;
            transition: background-color 0.3s ease;

            img {
                width: 20px;
                height: 20px;
            }

            @media (max-width: 768px) {
                bottom: 5px;
                right: 5px;
                bottom: 0;
            }
        }

        .location {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: variables.$dracula-purple;
            color: variables.$dracula-foreground;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            font-size: 0.9rem;
            font-weight: 600;

            @media(max-width: 768px) {
                font-size: 0.7rem;
            }
        }

        img {
            width: 100%;
            height: auto;
            max-height: 150px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 1rem;

            @media (max-width: 768px) {
                max-height: 100px;
                width: 170px;
            }
        }

        &__details {
            h3 {
                margin-top: 0.5rem;
                color: variables.$dracula-purple;
                font-size: 1rem;

                @media (max-width: 768px) {
                    font-size: 0.8rem;
                }
            }

            .rating {
                font-weight: 600;
                margin-bottom: 0.5rem;

                @media(max-width: 768px) {
                    font-size: 0.8rem;
                }
            }

            span {
                color: variables.$dracula-yellow;
            }

            .description {
                max-height: 3rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                transition: max-height 0.3s ease;
                color: variables.$dracula-foreground;
                margin-bottom: 1rem;
                font-weight: 400;
                font-size: medium;
                margin-top: 0.5rem;

                @media (max-width: 768px) {
                    font-size: 0.7rem;
                }
            }

            .description.expanded {
                max-height: 100px;
            }
        }

        .detail-button {
            background: none;
            border: none;
            color: variables.$dracula-purple;
            font-weight: 600;
            cursor: pointer;
            padding: 0;
            transition: color 0.3s;

            @media(max-width: 768px) {
                font-size: 0.8rem;
                height: 44px;
                width: 44px;
                white-space: nowrap;
            }

            &:hover {
                color: variables.$dracula-foreground;
            }
        }
    }


    @media (max-width: 768px) {

        .prev-button,
        .next-button {
            display: none;
        }

        .carousel-wrapper {
            max-width: 100%;
            padding: 0 1rem;
        }

        .carousel {
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
        }

        .restaurant-card {
            max-width: 100%;
            padding: 0.5rem;
        }
    }
}