@use 'variables';

.restaurant-list {
    padding: 2rem;
    color: variables.$dracula-foreground;
    text-align: center;
    margin-bottom: 20px;

    h2 {
        margin-bottom: 1.5rem;
        font-size: 2rem;
        text-align: center;
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-wrapper {
        overflow: hidden;
        width: 100%;
        max-width: 900px; // Atur lebar maksimum carousel
    }

    .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 3 kartu per baris
        gap: 1.5rem;
        transition: transform 0.5s ease;
    }

    .carousel-button {
        background-color: variables.$dracula-purple;
        color: variables.$dracula-foreground;
        font-weight: 600;
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        transition: color 0.3s;
        margin-inline-end: 10px;
        margin-inline-start: 10px;

        &:hover {
            color: variables.$dracula-purple;
            background-color: variables.$dracula-current-line;
        }
    }

    .restaurant-card {
        background-color: variables.$dracula-bg;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: left;
        position: relative;
        width: 100%;
        max-width: 280px; // Membatasi lebar maksimum untuk setiap kartu

        .location {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: variables.$dracula-purple;
            color: variables.$dracula-foreground;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            font-size: 0.9rem;
            font-weight: 600;
        }

        img {
            width: 100%;
            height: 150px; // Atur tinggi gambar yang tetap
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 1rem;
        }

        &__details {
            h3 {
                margin-top: 0.5rem;
                color: variables.$dracula-purple;
                font-size: 1rem;
            }

            .rating {
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            span {
                color: variables.$dracula-yellow;
            }

            .description {
                max-height: 3rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                transition: max-height 0.3s ease;
                color: variables.$dracula-foreground;
                margin-bottom: 1rem;
                font-weight: 400;
                font-size: medium;
                margin-top: 0.5rem;
            }

            .description.expanded {
                max-height: 100%;
                white-space: normal;
            }
        }

        .toggle-button {
            background: none;
            border: none;
            color: variables.$dracula-purple;
            font-weight: 600;
            cursor: pointer;
            padding: 0;
            transition: color 0.3s;

            &:hover {
                color: variables.$dracula-foreground;
            }
        }
    }
}