@use 'variables';

.info-section,
.info-section_two {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 2rem;
    margin: 0 auto;

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: variables.$dracula-foreground;
        margin-bottom: 2rem;
        text-align: center;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: bold;
        color: variables.$dracula-foreground;
        margin-bottom: 2rem;
        text-align: center;
    }

    span:nth-child(2) {
        color: variables.$dracula-yellow;
    }

    &__content,
    &__image {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        color: variables.$dracula-foreground;
        max-width: 600px;
    }

    img {
        max-width: 100%;
        height: 280px;
        margin-bottom: 2rem;
    }

    .navigate-button {
        margin-bottom: 50px;
        background: none;
        border: none;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: translateY(5px);
            background-color: rgba(variables.$dracula-yellow, 0.6);
            border-radius: 50px;
            padding: 0 3rem;
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}

.info-section--custom {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 5rem 0;
    background: linear-gradient(180deg,
            variables.$dracula-dark 0%,
            variables.$dracula-current-line 60%,
            variables.$dracula-bg 100%);

    .info-section__content,
    .info-section__image {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {

    .info-section,
    .info-section_two {
        padding: 2rem 1rem;

        h2 {
            font-size: 1.8rem;
        }

        p {
            font-size: 0.9rem;
        }

        .navigate-button {
            font-size: 1.5rem;
        }

        img{
            height: 200px;
        }
    }
}