// variables.scss
:root {
    --dracula-bg: #282a36;
    --dracula-current-line: #44475a;
    --dracula-foreground: #f8f8f2;
    --dracula-comment: #6272a4;
    --dracula-purple: #bd93f9;
    --dracula-dark: #343a40;
    --dracula-gray: #4e4d4c;
}